@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&display=swap');
*{
    font-family: "Syne", sans-serif;
    margin: 0;
    padding: 0;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .content{
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  }
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
p{
    font-size: 25px;
    margin-right: 20px;
    color: #A6A001;
    margin-bottom: 10px ;
}
.sign-in-main{
    text-align: start;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}
.sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 530px;
    height: 500px;
    background-color: #1E1E1E;
    border: 2px solid #1E1E1E;
    border-radius: 10px;
}
.sign-in-main input{
    width: 300px;
    margin-bottom: 10px;
    padding-left: 3px;
}
.show-password{
    width: 300px;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    display: flex;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    background-color: #A6A001;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 8px;
    font-size: 18px;
}
.sign-in-one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img img{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 180px;
}
input[type="checkbox"]{
    width: 18px;
    margin-bottom: 10px;
}
.signup{
    margin-bottom: 2vw;
    margin-top: 1vw;
}
a{
    text-decoration:none;
    color: #f1f1f1;
}
a:hover{
    text-decoration: underline;
}
input[type="password"] {
    font-family: 'password-font', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}
input:focus{
    outline: none;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
    .sign-in{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 500px;
        background-color: #1E1E1E;
        border: 2px solid #1E1E1E;
        border-radius: 10px;
    }
    .sign-in-main p{
        width: 280px;
    }
    .sign-in-main{
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img img{
        margin-top: 20px;
        margin-bottom: 15px;
        width: 120px;
    }
    .sign-in-main input {
        width: 300px;
        height: 25px;
    }
    .sign-in-one{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p {
        font-size: 25px;
        width: 350px;
        color: #A6A001;
        margin-right: 0;
        text-align: center;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    video{
        display: none;
    }
    body{
        background: #1E1E1E;
    }
    .content{
        padding: 0;
        position: static;
        background: #1E1E1E;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sign-in {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        background-color: #1E1E1E;
        border: 2px solid #1E1E1E;
        border-radius: 10px;
    }
    #contact{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 500px;
        border-radius: 10px;
    }
    .sign-in-main p{
        width: 280px;
    }
    .sign-in-main{
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img img{
        margin-top: 20px;
        margin-bottom: 15px;
        width: 120px;
    }
    .sign-in-main input {
        width: 250px;
        height: 22px;
    }
    .sign-in-one{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p {
        font-size: 25px;
        width: 280px;
        color: #A6A001;
        margin-right: 0;
        text-align: center;
    }
    .show-password {
        width: 250px;
    }
    .btn{
        margin-bottom: 7px;
    }
}